<div data-control="toolbar">
    <a
        href="<?= Backend::url('monologophobia/utilities/forms/create/') ?>"
        class="btn btn-primary oc-icon-plus"><?= Lang::get('monologophobia.utilities::lang.forms.new'); ?></a>

    <button
        class="btn btn-warning oc-icon-trash-o"
        disabled="disabled"
        onclick="$(this).data('request-data', {
            checked: $('.control-list').listWidget('getChecked')
        })"
        data-request="onDelete"
        data-request-confirm="<?= Lang::get('monologophobia.utilities::lang.forms.confirm_delete'); ?>"
        data-trigger-action="enable"
        data-trigger=".control-list input[type=checkbox]"
        data-trigger-condition="checked"
        data-request-success="$(this).prop('disabled', false)"
        data-stripe-load-indicator>
        <?= Lang::get('monologophobia.utilities::lang.forms.delete'); ?>
    </button>

</div>
