<div class="control-list">
    <table class="table data">
        <thead>
            <tr>
                <?php foreach ($model->fields as $field) { ?>
                    <th><span><?= $field["name"]; ?></span></th>
                <?php } ?>
            </tr>
        </thead>
        <tbody>
            <?php
            if (count($model->records) > 0) {
                foreach ($model->records as $record) {

                    $data = $record->generateData();
                    echo '<tr>';

                    foreach ($data->results as $key => $value) {
                        echo "<td>$value</td>";
                    }
                    
                    foreach ($data->orphaned as $orphan) echo "<td>$orphan</td>";
                    echo '</tr>';

                }
            }
            ?>
        </tbody>
    </table>
</div>
