<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('monologophobia/utilities/forms') ?>"><?= Lang::get('monologophobia.utilities::lang.forms.name'); ?></a></li>
        <li><?= Lang::get('monologophobia.utilities::lang.forms.edit'); ?></li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

    <?= Form::open(['class'=>'layout']) ?>

        <div class="layout-row">
            <?= $this->formRender() ?>
        </div>

        <div class="form-buttons">
            <div class="loading-indicator-container">
                <button
                    type="button"
                    data-request="onSave"
                    data-request-data="close:true"
                    data-hotkey="ctrl+enter, cmd+enter"
                    data-load-indicator="<?= Lang::get('monologophobia.utilities::lang.forms.save'); ?>"
                    class="btn btn-primary">
                        <?= Lang::get('monologophobia.utilities::lang.forms.save'); ?>
                </button>
                <span class="btn-text">
                    or <a href="<?= Backend::url('monologophobia/utilities/forms') ?>"><?= Lang::get('monologophobia.utilities::lang.forms.cancel'); ?></a>
                </span>
            </div>
        </div>

    <?= Form::close() ?>
    
<?php else: ?>
    <div class="control-breadcrumb">
        <?= Block::placeholder('breadcrumb') ?>
    </div>
    <div class="padded-container">
        <p class="flash-message static error"><?= e(trans($this->fatalError)) ?></p>
        <p><a href="<?= Backend::url('monologophobia/utilities/forms') ?>" class="btn btn-default"><?= Lang::get('monologophobia.utilities::lang.forms.return'); ?></a></p>
    </div>
<?php endif ?>
