* {
    box-sizing: border-box;
}

body {
    min-height: 0;
    min-width: 0;
}

.container {
    width: 80%;
    max-width: 990px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-gap: 2.5rem;
}

.grid.no-gap {
    grid-gap: 0;
}

.grid.two-columns {
    grid-template-columns: repeat(2, 1fr);
}

.grid.three-columns {
    grid-template-columns: repeat(3, 1fr);
}

.grid.four-columns {
    grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 768px) {
    .grid.two-columns, .grid.three-columns, .grid.four-columns {
        grid-template-columns: 1fr;
    }
}

.responsive-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.responsive-container iframe, .responsive-container embed {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

div *:first-child, section *:first-child, main *:first-child, article *:first-child {
    margin-top: o;
}

div *:last-child, section *:last-child, main *:last-child, article *:last-child {
    margin-bottom: o;
}