{% if __SELF__.type == 'grid' %}

    {% put scripts %}
        <script>
            $('.gallery[data-id={{ __SELF__.gallery.id }}]').magnificPopup({
                delegate: 'a',
                type: 'image',
                gallery: {
                    enabled: true
                },
            });
        </script>
    {% endput %}

    {% set columns = "" %}
    {% if __SELF__.columns == 2 %}{% set columns = "two-columns" %}{% endif %}
    {% if __SELF__.columns == 3 %}{% set columns = "three-columns" %}{% endif %}
    {% if __SELF__.columns == 4 %}{% set columns = "four-columns" %}{% endif %}
    {% if __SELF__.columns == 5 %}{% set columns = "five-columns" %}{% endif %}
    {% if __SELF__.columns == 6 %}{% set columns = "six-columns" %}{% endif %}

    {% if __SELF__.masonry %}
        <div class="gallery {{ columns }}" data-id="{{ __SELF__.gallery.id }}">
            {% for image in __SELF__.gallery.images %}
                <div><a href="{{ image.getPath() }}" title="{{ image.title ?? __SELF__.gallery.name }}"><img src="{{ image.getPath() }}" alt="{{ image.title ?? __SELF__.gallery.name }}" /></a></div>
            {% endfor %}
        </div>
        {% put styles %}
            <style>
                .gallery {
                    columns: {{ __SELF__.columns }};
                }
                .gallery div {
                    display: inline-block;
                }
            </style>
        {% endput %}
    {% else %}
        {% set gap = "" %}
        {% if __SELF__.spacing == "Condensed" %}{% set gap = "small-gap" %}{% endif %}
        {% if __SELF__.spacing == "No Gap" %}{% set gap = "no-gap" %}{% endif %}
        <div class="grid {{ gap }} {{ columns }} gallery" data-id="{{ __SELF__.gallery.id }}">
            {% for image in __SELF__.gallery.images %}
                <div><a href="{{ image.getPath() }}" title="{{ image.title ?? __SELF__.gallery.name }}"><img src="{{ image.getThumb(600, 600, 'crop') }}" alt="{{ image.title ?? __SELF__.gallery.name }}" /></a></div>
            {% endfor %}
        </div>
    {% endif %}
{% else %}
{{ __SELF__.constrained_height }}
    <div class="slideshow{% if __SELF__.constrained_height %} constrained{% endif %}" data-id="{{ __SELF__.gallery.id }}" style="height: {{ __SELF__.constrained_height }};">
        {% for image in __SELF__.gallery.images %}
            {% if __SELF__.text_overlay %}
                <div class="slide">
                    <img src="{{ image.getPath() }}" alt="{{ image.title ?? __SELF__.gallery.name }}" />
                    <div class="text-overlay">
                        <span class="title">{{ image.title ?? __SELF__.gallery.name }}</span>
                        <span class="description">{{ image.description|raw }}</span>
                    </div>
                </div>
            {% else %}
                <img src="{{ image.getPath() }}" alt="{{ image.title ?? __SELF__.gallery.name }}" />
            {% endif %}
        {% endfor %}
    </div>
    {% put scripts %}
        <script>
            $('.slideshow[data-id={{ __SELF__.gallery.id }}]').slick({
               infinite: true,
               autoplay: {% if __SELF__.autoplay %}true{% else %}false{% endif %},
               arrows: {% if __SELF__.arrows %}true{% else %}false{% endif %},
               dots: {% if __SELF__.dots %}true{% else %}false{% endif %},
               slidesToShow: {{ __SELF__.slides }},
            });
            {% if __SELF__.text_overlay %}
                $('.slideshow[data-id={{ __SELF__.gallery.id }}]').on('afterChange', function(event, slick, currentSlide) {
                    $(this).closest('text-overlay').addClass('active');
                });
                $('.slideshow[data-id={{ __SELF__.gallery.id }}]').on('beforeChange', function(event, slick, currentSlide) {
                    $(this).closest('text-overlay').removeClass('active');
                });
            {% endif %}
        </script>
    {% endput %}
{% endif %}