subject = "Thanks for getting in touch"
==

{{ autoresponse }}

Your data -
{% for key, value in results %}
    {{ key }}: {{ value }}
{% endfor %}

{% for value in orphaned %}
    {{ value }}
{% endfor %}

==

{{ autoresponse|raw }}

<p>Your Data -<br />
{% for key, value in results %}
    <strong>{{ key }}</strong>: {{ value }}<br />
{% endfor %}

{% for value in orphaned %}
    {{ value }}<br />
{% endfor %}
</p>