subject = "Form Notification"
==

A response has been submitted for {{ form_name }}

{% for key, value in results %}
    {{ key }}: {{ value }}
{% endfor %}

{% for value in orphaned %}
    {{ value }}
{% endfor %}

==

<p>A response has been submitted for {{ form_name }}</p>

<p>
{% for key, value in results %}
    <strong>{{ key }}</strong>: {{ value }}<br />
{% endfor %}

{% for value in orphaned %}
    {{ value }}<br />
{% endfor %}
</p>