<form method="POST" data-request="onFormSubmit" id="form{{ __SELF__.form.id }}" data-request-success="this.reset();">
    <div id="form-message">{% partial '@message' %}</div>
    <input type="text" name="not-for-people" />
    <input type="hidden" name="form_id" value="{{ __SELF__.form.id }}" />
    {% set inputs = ["text", "email", "number", "date", "telephone", "url", "color", "file", "password"] %}
    {% for field in __SELF__.form.fields %}
        {% if field.type in inputs %}
            {% partial '@input' field=field form=__SELF__.form %}
        {% elseif field.type == "textarea" %}
            {% partial '@textarea' field=field form=__SELF__.form %}
        {% elseif field.type == "select" %}
            {% partial '@select' field=field form=__SELF__.form %}
        {% elseif field.type == "checkbox" %}
            {% partial '@checkbox' field=field form=__SELF__.form %}
        {% elseif field.type == "radio" %}
            {% partial '@radio' field=field form=__SELF__.form %}
        {% endif %}
    {% endfor %}
    <button type="submit">Submit</button>
</form>

<style>
input[name="not-for-people"] {
    display: none;
}
</style>