<label for="{{ field.slug }}" id="{{ field.slug }}-label"{% if field.required %} class="required"{% endif %}>{{ field.name }}</label>
<div aria-role="radiogroup">
    {% for option in field.options %}
        <label>
            <input
                type="radio"
                value="{{ option.name }}"
                name="{{ form.slug }}[{{ field.slug }}]"
                aria-role="radio"
                {% if field.required %} required aria-required="false" {% endif %}
            /> {{ option.name }}
        </label>
    {% endfor %}
</div>