<label for="{{ field.slug }}" id="{{ field.slug }}-label"{% if field.required %} class="required"{% endif %}>{{ field.name }}</label>
<select
    id="{{ field.slug }}"
    name="{{ form.slug }}[{{ field.slug }}]"
    aria-labelledby="{{ field.slug }}-label"
    aria-role="list"
    {% if field.required %} required aria-required="false" {% endif %}
>
    <option value="">Please select...</option>
    {% for option in field.options %}
        <option value="{{ option.name }}" aria-role="listitem">{{ option.name }}</option>
    {% endfor %}

</select>